body{
  /*https://cssgradient.io/blog/gradient-patterns/  */
  background-color:black;
  background-image: -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: linear-gradient(to right, transparent 50%, rgba(255,255,255,.5) 50%);;
  background-size: 10px 10px;
}
.move{
  background-color:black;
  background-image: -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: linear-gradient(to left, transparent 50%, rgba(255,255,255,.5) 50%);;
  background-size: 10px 10px;
}
h1{
  color: grey;
  font-size: 1100%;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  opacity: .5;
}
