body{
  /*https://cssgradient.io/blog/gradient-patterns/  */
  background-color:#800000;
  background-image: -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,.5) 50%);;
  /* background-image: linear-gradient(to bottom, #340606, yellow); */

  background-size: 5px 10px;
  transition: .2s;

}
.move{
  background-color:#800000;
  background-image: -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: linear-gradient(to left, transparent 50%, rgba(255,255,255,.5) 50%);;
  background-size: 10px 10px;
  transition: .2s;

}

h1{
  color: #800000;
  font-size: 800%;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  opacity: .2;
  transition: .2s;
}
#mainHeader{
  height: 400px;
}
.letterMove{
  opacity: .2;
  font-size: 1100%;
  padding-top: 30px;
}
#triangles{
  display:table;
  margin:0 auto;
}
/* https://css-tricks.com/the-shapes-of-css/ */
.triUp{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #800000;
      transition: .2s;

    }

.triDown{
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid #800000;
      transition: .2s;

}
.color{
  border-top: 100px solid black;
  /* opacity: .5; */
}
.opac{
  border-top: 100px solid #800000;
  opacity: .5;
}
.turn{
  padding-bottom: 150px;
  border-top: 0px solid #800000;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #800000;
}
.size{
  border-bottom: 300px solid #800000;
}
.flash{
  border-top: 100px solid transparent;
}
.rotate{
  border-bottom: 100px solid #800000;
  border-left: 150px solid transparent;
}
.moveDown{
  padding-top: 150px;
}
